out/
.vs/
bin/
obj/
build/
BuildClangd/
Install/
Editor/Resources/Shaders
Sandbox/Resources
Omniforce/Shaders/Gen
Omniforce/Shaders/slangdconfig.json
Runtime/*.dll
Runtime/Resources/Shaders
compile_commands.json
.cache/