[submodule "Omniforce/ThirdParty/Jolt"]
	path = Omniforce/ThirdParty/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Omniforce/ThirdParty/ImGuizmo"]
	path = Omniforce/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Omniforce/ThirdParty/Assimp"]
	path = Omniforce/ThirdParty/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Omniforce/ThirdParty/nv-libdeflate"]
	path = Omniforce/ThirdParty/nv-libdeflate
	url = https://github.com/daniilvinn/libdeflate.git
[submodule "Omniforce/ThirdParty/meshoptimizer"]
	path = Omniforce/ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Omniforce/ThirdParty/fastgltf"]
	path = Omniforce/ThirdParty/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "Omniforce/ThirdParty/volk"]
	path = Omniforce/ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "Omniforce/ThirdParty/imgui"]
	path = Omniforce/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Omniforce/ThirdParty/taskflow"]
	path = Omniforce/ThirdParty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "Omniforce/ThirdParty/glm"]
	path = Omniforce/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Omniforce/ThirdParty/miniball"]
	path = Omniforce/ThirdParty/miniball
	url = https://github.com/daniilvinn/miniball.git
[submodule "Omniforce/ThirdParty/libMETIS"]
	path = Omniforce/ThirdParty/libMETIS
	url = https://github.com/daniilvinn/METIS.git
[submodule "Omniforce/ThirdParty/spdlog"]
	path = Omniforce/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Omniforce/ThirdParty/GLFW"]
	path = Omniforce/ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Omniforce/ThirdParty/EnTT"]
	path = Omniforce/ThirdParty/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "Omniforce/ThirdParty/nlohmann-json"]
	path = Omniforce/ThirdParty/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "Omniforce/ThirdParty/robin-hood-hashing"]
	path = Omniforce/ThirdParty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "Omniforce/ThirdParty/VulkanMemoryAllocator"]
	path = Omniforce/ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Omniforce/ThirdParty/miniaudio"]
	path = Omniforce/ThirdParty/miniaudio
	url = https://github.com/mackron/miniaudio.git
